<link rel="stylesheet" href="/modules/admin/_static/css/courses.css">

<div class="gcb-button-toolbar">
  <a id="add_course"
     class="gcb-button"
     role="button"
     data-email="{{ email }}"
     data-xsrf-token="{{ add_course_xsrf_token }}">
    Add Course...
  </a>
  <a id="add_sample_course"
     class="gcb-button"
     role="button">
    Add Sample Course...
  </a>
  <div class="dropdown-container" id="multi_course_actions">
    <div class="gcb-button multi-course-actions dropdown-leader">
      Multi-Course Actions
    </div>
    <div class="dropdown-actions-container">
      <div class="dropdown-member">
        <a id="edit_multi_course_availability"
           class="gcb-button multi-course-actions"
           data-xsrf-token="{{ edit_course_availability_xsrf_token }}"
           data-options="{{ course_availability_options }}"
           role="button">
          Set Course Availability...
        </a>
      </div>
      <div class="dropdown-member">
        <a id="edit_multi_course_start_date"
           class="gcb-button multi-course-actions"
           data-xsrf-token="{{ edit_course_availability_xsrf_token }}"
           data-options="{{ course_availability_options }}"
           role="button">
          Set Course Start Date...
        </a>
      </div>
      <div class="dropdown-member">
        <a id="edit_multi_course_end_date"
           class="gcb-button multi-course-actions"
           data-xsrf-token="{{ edit_course_availability_xsrf_token }}"
           data-options="{{ course_availability_options }}"
           role="button">
          Set Course End Date...
        </a>
      </div>
      <div class="dropdown-member">
        <a id="edit_multi_course_category"
           class="gcb-button multi-course-actions"
           data-xsrf-token="{{ edit_course_settings_xsrf_token }}"
           role="button">
          Set Course Category...
        </a>
      </div>
      <div class="dropdown-member">
        <a id="edit_multi_course_show_in_explorer"
           class="gcb-button multi-course-actions"
           data-xsrf-token="{{ edit_course_settings_xsrf_token }}"
           role="button">
          Set Course Shown In Explorer...
        </a>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="gcb-list gcb-list--autostripe fixed-table">
  {% if courses|length %}
    <table id="courses_list">
      <thead>
        <tr>
          {# Checkbox and trash-can icon delete columns cannot be sorted by. #}
          <th class="gcb-list-select-course gcb-not-sortable">
            <input type="checkbox" id="all_courses_select">
          </th>
          <th id="title_column" class="gcb-sorted-none">
            Title
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="url_column" class="gcb-sorted-none">
            URL Component
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="availability_column" class="gcb-sorted-none">
            Availability
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="start_date_column" class="gcb-sorted-none">
            Start Date
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="end_date_column" class="gcb-sorted-none">
            End Date
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="category_column" class="gcb-sorted-none">
            Category
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="enrolled_column" class="gcb-sorted-none">
            Registered Students
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>

          <!-- Admin Emails Header Starts  -->
          <th id="admin_email" class="gcb-sorted-none">
            Admin Emails
            <i class="material-icons gcb-sorted-icon gcb-list__icon"></i>
          </th>
          <th id="admin_email" class="gcb-sorted-none">
          </th>
          <!-- Admin Emails Header Ends  -->

          {% for item in additional_headers %}
            {{ item }}
          {% endfor %}
          <th class="gcb-list__cell--icon gcb-not-sortable"></th>

        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr data-course-namespace="{{ course.namespace_name }}">
          <td class="gcb-list-select-course">
            <input
               type="checkbox"
               class="gcb-course-checkbox"
               id="select_{{ course.namespace_name }}"
               data-course-namespace="{{ course.namespace_name }}"
               data-course-slug="{{ course.slug }}"
               data-course-title="{{ course.name }}"
               >
          </td>
          <td class="gcb-courses-title">
            <a href="{{ course.link }}" class="gcb-text-to-sort-by">
              {{ course.name }}
            </a>
          </td>
          <td class="gcb-courses-url">
            <a href="{{ course.slug }}" target="_blank"
               class="gcb-text-to-sort-by">
              {{ course.slug }}
              <i class="material-icons gcb-list__icon gcb-list__icon--rowhover">open_in_new</i>
            </a>
          </td>
          <td class="gcb-courses-availability">
            <a id="availability_{{ course.namespace_name }}"
               class="gcb-text-to-sort-by"
               href="{{ course.slug }}/dashboard?action=availability">
              {{ course.availability }}
            </a>
          </td>
          <td class="gcb-courses-start-date">
            <a id="start_date_{{ course.namespace_name }}"
               class="gcb-text-to-sort-by"
               href="{{ course.slug }}/dashboard?action=availability">
              {{ course.start_date }}
            </a>
            <span class="multi-course-hidden"
                  id="start_date_full_{{ course.namespace_name }}">
              {{ course.start_date_full }}
            </span>
          </td>
          <td class="gcb-courses-end_date">
            <a id="end_date_{{ course.namespace_name }}"
               class="gcb-text-to-sort-by"
               href="{{ course.slug }}/dashboard?action=availability">
              {{ course.end_date }}
            </a>
            <span class="multi-course-hidden"
                  id="end_date_full_{{ course.namespace_name }}">
              {{ course.end_date_full }}
            </span>
          </td>
          <td class="gcb-courses-category">
            <a id="category_{{ course.namespace_name }}"
               class="gcb-text-to-sort-by"
               href="{{ course.slug }}/dashboard?action=settings_homepage">
              {{ course.category }}
            </a>
          </td>
          <td class="gcb-courses-enrolled">
            <div>
              <div id="enrolled_{{ course.namespace_name }}"
                   class="gcb-text-to-sort-by">
                {{ course.total_enrolled }}
              </div>
              <div class="mdl-tooltip gcb-form-tooltip"
                   id="activity_{{ course.namespace_name }}"
                   for="enrolled_{{ course.namespace_name }}">
                {{ course.most_recent_enroll }}</div>
            </div>
          </td>

          <!-- Admin Emails Column Starts -->
          <td class="gcb-courses-category">
           <div class="gcb-text-to-sort-by">
                <input id="admin_user_email_{{ course.namespace_name }}"
                  type="text"
                  value = {{ course.admin_user_emails }} />
           </div>
          </td>
           <td class="gcb-courses-category">
             <a id="save_admin_user_email_{{ course.namespace_name }}"
                  data-title=" {{ course.name }}"
                  data-course-namespace="{{ course.namespace_name }}"
                  data-xsrf-token="{{ edit_course_settings_xsrf_token }}"
                  data-slug="{{ course.slug }}"
                  class="gcb-button save-button update_email_address_button"
                  role="button">
                Save
              </a>
          </td>
          <!-- Admin Emails Column Ends -->

          {% for item in course.additional_columns %}
            {{ item }}
          {% endfor %}
          <td>
            {% if course.namespace_name != '' %}
              <form
                 action="{{ course.slug }}{{ delete_course_link }}"
                 method="POST"
                 delete_course="true">
                <input
                   type="hidden"
                   name="xsrf_token"
                   value="{{ delete_course_xsrf_token }}">
                <input
                   type="hidden"
                   name="is_selected_course"
                   value="{{ course.is_selected_course }}">

              </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>

      {% if courses|length %}
      <tfoot>
        <tr>
          <td></td>
          <td>
            {{ courses|length }} course(s)
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            {{ total_students }} student(s)
          </td>

          <!-- Admin Emails Footer Starts -->
          <td></td>
          <td></td>
          <!-- Admin Emails Footer Ends -->

          {% for item in additional_footers %}
            {{ item }}
          {% endfor %}
          <td>&nbsp;</td>
        </tr>
      </tfoot>
      {% endif %}
    </table>

  {% else %}
    <div class="gcb-list__empty-message-wrapper">
      <div class="gcb-list__empty-message">
        <div class="empty-instance-instructions">
          <div class="header">
            Create a course by clicking one of the buttons above and then...
          </div>
          <dl>
            <dt>Create</dt>
            <dd>create course content</dd>
            <dt>Style</dt>
            <dd>style the course</dd>
            <dt>Publish</dt>
            <dd>publish the course</dd>
            <dt>Manage</dt>
            <dd>manage the course</dd>
            <dt>Settings</dt>
            <dd>change course settings</dd>
          </dl>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<script src="/modules/admin/_static/js/courses.js"></script>

<!-- Support for OEditor look-and-feel date/time picker. -->
<link rel="stylesheet" href="/modules/oeditor/_static/css/oeditor.css"/>
<script src="/static/yui_3.6.0/yui/build/yui/yui.js"></script>
<script src="/static/inputex-3.1.0/src/loader.js"></script>
<script>
  // Pull in datetime and oeditor to allow us to set up use of date/time
  // chooser fields in non-oeditor contexts.  datetime.js is needed in its
  // entirety; oeditor.js is only needed for getYuiConfig().  We rely on
  // oeditor.js to not get too creative at page-load time, which is OK.
  // The oeditor page-load-time setup is taken care of in oeditor.html
  // instead.
  {% include 'datetime.js' %}
  {% include 'oeditor.js' %}
  cb_global = { bundle_lib_files: {{bundle_lib_files}} };
</script>
